#set($userId = $ctx.identity.claims.sub)

{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "operation": "ListDecks",
    "data": {
      "owner": $util.toJson($userId)
    }
  }
}
